<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
						http://www.springframework.org/schema/context    
 						http://www.springframework.org/schema/context/spring-context-2.5.xsd
 						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean name="memcachedClientBuilder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
		<!-- XMemcachedClientBuilder have two arguments.First is server list,and 
			second is weights array. -->
		<constructor-arg>
			<list>
#foreach($memcaches in $memcacheds)
				<bean class="java.net.InetSocketAddress">
					<constructor-arg value="$memcaches.server" />
					<constructor-arg value="$memcaches.port" />
				</bean>
#end
			</list>
		</constructor-arg>

		<!--<property name="connectionPoolSize" value="3"/> -->

		<property name="commandFactory">
			<bean class="net.rubyeye.xmemcached.command.TextCommandFactory" />
		</property>

		<!--Consistent Hash -->
		<property name="sessionLocator">
			<bean class="net.rubyeye.xmemcached.impl.KetamaMemcachedSessionLocator" />
		</property>

		<property name="transcoder">
			<bean class="net.rubyeye.xmemcached.transcoders.SerializingTranscoder" />
		</property>
	</bean>

	<bean name="memcachedClient" factory-bean="memcachedClientBuilder"
		factory-method="build" destroy-method="shutdown" lazy-init="true">
		<property name="opTimeout" value="5000" />
		<property name="enableHeartBeat" value="false" />
	</bean>
	<!-- ======================== 相关组件结束 ======================== -->
	<bean id="SpringContextUtil" class="${base_package}.util.SpringContextUtil" />

	<bean id="sessionManager" class="com.netease.product.web.sna.SessionManager">
		<property name="cookieName" value="_${projct_name_en}_snid" />
		<property name="cookiePath" value="/" />
		<property name="storageHandler">
			<bean class="${base_package}.web.sna.XMemcachedStorageHandler">
				<property name="client" ref="memcachedClient" />
				<property name="keyPrefix" value="${projct_name_en}" />
			</bean>
		</property>
	</bean>
</beans>