<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
						http://www.springframework.org/schema/context    
 						http://www.springframework.org/schema/context/spring-context-2.5.xsd
 						http://www.springframework.org/schema/tx
    					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
#if($framework=='ssi')
	<context:component-scan base-package="$!{base_package}.dao,$!{base_package}.dao.impl,$!{base_package}.service.impl" />
#elseif($framework=='ssh')
	<context:component-scan base-package="$!{base_package}.dao,$!{base_package}.dao.impl,$!{base_package}.service.impl" />
#elseif($framework=='si')
	<context:component-scan base-package="$!{base_package}.dao,$!{base_package}.dao.impl,$!{base_package}.service.impl,$!{base_package}.web.controller" />
#end
	

	<!-- ======================== 相关组件开始 ======================== -->
	<!-- Velocity 引擎 -->
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="configLocation" value="classpath:/velocity.properties" />
	</bean>

	<!-- 后台登录验证，调用发布器Webservice 
	<bean id="cmsWebService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl"
			value="http://ws.cms.163.com/webservice/CmsWebService" />
		<property name="serviceInterface" value="com.netease.cms.service.CmsWebService" />
	</bean>
	-->
	<!-- 跟贴Webservice 
	<bean id="commentWebService"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl"
			value="http://ws.comment.163.com/hessian/commentService" />
		<property name="serviceInterface" value="com.netease.reply.service.CommentWebService" />
	</bean>
	-->
	<!-- 图片库Webservice 
	<bean id="photoService240"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="http://oracle.service.240.photo.163.com/pic" />
		<property name="serviceInterface" value="com.netease.photo.service.PhotoService240" />
	</bean>
	-->

</beans>