<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by yeaker (cit) -->
<catalog>
	<!--name:域名-->
	<!--type:java类型及自定义类型(email：没有开发)-->
	<!--fieldType:域类型（text，textarea，hidden，radio，checkbox，select-one）-->
	<!--exceptionValue:仅用于select，否定值-->
	<!--isNull:是否允许为空，默认可空-->
	<!--validator:是否验证，默认允许-->
	<form name="~formName~">
		~property~
	</form>
</catalog>
